<template>
    <div>
        <div v-if="!report">
            <v-btn class="mr-4" @click="createSalesReport">Create Sales Report</v-btn>
            <v-btn @click="createRentalReport">Create Rental Report</v-btn>
        </div>
        <EditReportComponent v-else/>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'
    import EditReportComponent from '@/components/EditReportComponent'

    export default {
        name: 'CreateReport',
        components: {
            EditReportComponent,
        },
        computed: {
            ...mapState('reports', [
                'report',
            ]),
        },
        created () {
            this.$store.commit('reports/setReport', null)
        },
        methods: {
            ...mapMutations('reports', [
                'createSalesReport',
                'createRentalReport',
            ]),
        },
    }
</script>

<style lang="scss" scoped>

</style>