<template>
    <div>
        <EditReportComponent v-if="report"/>
    </div>
</template>

<script>
    import EditReportComponent from '@/components/EditReportComponent'
    import { mapState, mapMutations } from 'vuex'

    export default {
        name: 'EditReport',
        components: {
            EditReportComponent,
        },
        computed: {
            ...mapState('reports', [
                'report',
                'draft',
            ]),
        },
        created () {
            if (this.draft)
                this.setReport(this.draft)
            else
                this.$store.commit('reports/createSalesReport')
        },
        methods: {
            ...mapMutations('reports', [
                'setReport',
            ])
        },
    }
</script>

<style lang="scss" scoped>

</style>