<template>
    <div>
        <v-text-field v-model="email" placeholder="Email" data-cy="email"/>
        <v-text-field v-model="password" type="password" placeholder="Password" data-cy="password"/>
        <v-btn :disabled="invalid" color="primary" @click="attempt">Submit</v-btn>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        name: 'Login',
        data () {
            return {
                email: '',
                password: '',
            }
        },
        computed: {
            invalid () {
                return !this.email.length || !this.password.length
            },
        },
        methods: {
            ...mapActions('auth', [
                'login',
            ]),
            attempt () {
                this.login({ email: this.email, password: this.password }).then(() => {
                    this.$router.push({ name: 'reports' })
                }).catch(() => {
                    this.$toast.error('Invalid credentials')
                })
            },
        }
    }
</script>

<style scoped>

</style>