<template>
    <div></div>
</template>

<script>
    export default {
        name: 'Logout',
        mounted () {
            this.$store.commit('auth/setToken', null)
            this.$router.push({ name: 'login' })
        },
    }
</script>
