<template>
    <div>
        <div class="d-flex justify-end mb-4">
            <v-btn to="/reports/create" color="primary">Create report</v-btn>
        </div>
        <v-data-table
                :headers="headers"
                :loading="loading"
                :items="reports"
                :items-per-page="5"
                class="elevation-10"
        >
            <template #item.tools>
                <v-btn class="primary" small :to="{ name: 'edit-report' }">Edit</v-btn>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        name: 'Reports',
        data () {
            return {
                headers: [
                    {
                        text: '#',
                        value: 'report.id',
                    },
                    {
                        text: 'Name',
                        value: 'report.name',
                    },
                    {
                        text: 'Type',
                        value: 'report.type',
                    },
                    {
                        text: 'Status',
                        value: 'report.status',
                    },
                    {
                        text: 'Tools',
                        value: 'tools',
                    }
                ],
            }
        },
        computed: {
            ...mapState('reports', [
                'loading',
                'reports',
            ]),
        },
        created () {
            this.load()
        },
        methods: {
            ...mapActions('reports', [
                'load',
            ]),
        },
    }
</script>

<style lang="scss" scoped>

</style>