<template>
    <div class="create-report">
        <div class="mb-4" @click="switchType">
            <v-btn small>Switch type to {{ report.report.type === 'sales' ? 'rental' : 'sales' }}</v-btn>
        </div>
        <div>
            <v-text-field placeholder="Name" :value="report.report.name" @input="setReportName"/>
        </div>
        <h2 class="mb-4">Sections</h2>
        <div v-for="section in report.sections" :key="section.type">
            <h3>{{ section.type }}</h3>
            <template v-if="Object.entries(section.data).length">
                <v-text-field
                        v-for="(value, field) in section.data"
                        :key="field"
                        :placeholder="field"
                        :value="value"
                        :rules="field === 'phone' ? [phoneRule] : []"
                        @input="setReportData({ sectionType: section.type, field, value: $event })"
                        @update:error="setError(field, $event)"
                />
            </template>
            <template v-else>
                no content
            </template>
        </div>
        <div class="mt-8">
            <v-btn @click="saveReport" :loading="loading" :disabled="error">{{ mode }}</v-btn>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'

    export default {
        name: 'EditReportComponent',
        data () {
            return {
                error: false,
                phoneRule: value => /^\d{4,}$/.test(value) || 'phone should be a telephone number',
            }
        },
        computed: {
            ...mapState('reports', [
                'report',
                'loading',
            ]),
            mode () {
                return this.$route.name.split('-')[0]
            },
        },
        methods: {
            ...mapMutations('reports', [
                'switchType',
                'setReportName',
                'setReportData',
            ]),
            saveReport () {
                if (this.mode === 'create')
                    this.$store.dispatch('reports/createReport').then(() => {
                        this.$router.push('/reports')
                    })
                // else
                    // this.$store.dispatch('reports/editReport') ?
            },
            setError (field, e) {
                if (field === 'phone')
                    this.error = e
            },
        },
    }
</script>

<style lang="scss" scoped>

</style>
