<template>
    <v-app>
        <v-app-bar
                app
                color="primary"
                dark
        >
            <div class="d-flex align-center">
                <v-img
                        alt="Vuetify Logo"
                        class="shrink mr-2"
                        contain
                        src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
                        transition="scale-transition"
                        width="40"
                />

                <h1>FE test</h1>
            </div>

            <v-spacer/>

            <v-btn
                    text
                    v-for="page in pages"
                    :key="page.path"
                    :to="page.path"
                    :data-cy="page.cy"
                    class="ml-4"
            >
                <span class="mr-2">{{ page.name }}</span>
                <v-icon>mdi-{{ page.icon }}</v-icon>
            </v-btn>
        </v-app-bar>

        <v-content>
            <v-container fluid>
                <router-view/>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: 'App',
        data () {
            return {
                pagesData: [
                    {
                        path: '/',
                        name: 'Home',
                        icon: 'home',
                        cy: 'home',
                    },
                    {
                        path: '/reports',
                        name: 'Reports',
                        icon: 'format-list-text',
                        cy: 'reports',
                    },
                ],
            }
        },
        computed: {
            ...mapGetters('auth', ['loggedIn']),
            pages () {
                let pagesData = this.pagesData.slice()

                let loginPageData = {
                    path: '/login',
                    name: 'Login',
                    icon: 'login',
                    cy: 'login',
                }
                let logoutPageData = {
                    path: '/logout',
                    name: 'logout',
                    icon: 'logout',
                    cy: 'logout',
                }

                pagesData.push(this.loggedIn ? logoutPageData : loginPageData)
                return pagesData
            },
        }
    }
</script>
